matplotlib
numpy==1.23
opencv-contrib-python>=4.5.5.64

place-bot @ git+https://github.com/emmanuel-battesti/place-bot.git@main#egg=place-bot
# -e /home/battesti/projetRobotMobile/place-bot
# place-bot

